/NetBeansProject/JavaApplication2/nbproject/private/
/NetBeansProject/JavaApplication2/dist/
/NetBeansProject/JavaApplication2/build/
/NetBeansProject/Dossier2/nbproject/private/
/NetBeansProject/Dossier2/build/
/NetBeansProject/Dossier2/dist/
/NetBeansProject/Dossier3/nbproject/private/
/NetBeansProject/Dossier3/build/
/NetBeansProject/Dossier3-/nbproject/private/
/NetBeansProject/Dossier3-/build/
/NetBeansProject/ExamenCristoPrimeraEvaluacion/nbproject/private/
/NetBeansProject/ExamenCristoPrimeraEvaluacion/build/
/NetBeansProject/ETS/nbproject/private/
/NetBeansProject/ETS/build/
/NetBeansProject/ETS/dist/
/NetBeansProject/ExamenCristo2/nbproject/private/
/NetBeansProject/ExamenCristo2/build/
/NetBeansProject/Dossier4/nbproject/private/
/NetBeansProject/Dossier4/build/
/NetBeansProject/Dossier5/build/