/NetBeansProject/JavaApplication2/nbproject/private/
/NetBeansProject/JavaApplication2/dist/
/NetBeansProject/JavaApplication2/build/
/NetBeansProject/Dossier2/nbproject/private/
/NetBeansProject/Dossier2/build/
